* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  text-align: left;
}

ol, ul {
	list-style: none;
}

@mixin form {
  margin: 1rem 2rem 1rem;
  padding: 1rem 2rem 3rem;
  border-radius: 1rem;
  color: $tertiary-color;
}

@mixin button {
  float: right;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  border: 1px solid $tertiary-color;
}

$primary-color: #F98D94;
$secondary-color: #B5EFDB;
$tertiary-color: #A44C59;
$quartiary-color: #54776C;

html {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  height: 100%;
}

.main__todolist {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  flex-grow: 2;
}

.header__heading {
  font-size: 2.5rem;
  text-align: center;
  color: $tertiary-color;
  padding-top: 1rem;
}

.main__form {
  @include form;
  background-color: $primary-color;
  height: 15rem;

  .main__form__h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0 0;
  }
  
  .main__form__todo {
    padding-top: 1.5rem;
    color: white;
  }

  #input__submit {
    @include button;
    background-color: white;
    color: $tertiary-color;
    margin-top: 0.5rem;
  }
}
.main__form__text-input {
  width: 100%;
  border: none;
  border-radius: 2px;
  outline: 1px solid $tertiary-color;
  margin: 0.5rem 0;
}

.main__todo {
  width: 100%;
  max-width: 650px;
}

.main__todo__cards {
  display: flex;
  flex-direction: column;
}

.main__todo__card {
  @include form;
  background-color: $secondary-color;
  order: 0;
  color: $quartiary-color;
  min-height: 11rem;
  padding-bottom: 0;

  .main__todo__card__h3 {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 1rem;
  }

  .main__todo__card__p {
    font-size: 1.5rem;
    padding: 1rem 0 1rem;
  }

  .form__remove-button {
    display: none;
  }
}

.main__todo__card--done {
  background-color: #EFEFEF;
  text-decoration: line-through;
  font-style: italic;
  color: grey;
  order: 1;

  .form__remove-button {
    @include button;
    display: block;
    background-color: $primary-color;
    color: white;
    margin: 0 0 1rem;
    font-style: none;
  }
}

@media screen and (min-width: 600px) {
 
  .header__heading {
    font-size: 4rem;
  }

  .main__form .main__form__h2 {
    font-size: 2rem;
  }
}